.category {
  &:not(:last-child) {
    margin-bottom: 4.6rem;
  }
  > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  &__title {
    display: inline-block;
    width: 6.7rem;
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    line-height: 3.6rem;
    letter-spacing: 0.25px;
  }
  //text-box
  &__text-box {
    display: flex;
    align-items: center;
  }
  &__title-icon {
    @include flex-center;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.8rem;
  }
  &__more:link,
  &__more:visited {
    font-size: var(--fs-xs);
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--color-primary);
    margin-left: auto;
  }
  // gallery
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
    @media only screen and (max-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column-gap: 1.2rem;
    }
    @media only screen and (max-width: 30em) {
      grid-column-gap: 0.6rem;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }
  }
}
